@import url('https://fonts.googleapis.com/css?family=Kavivanar:100,200,300,400,500,600,700|Raleway:100,200,300,400,500,600,700|Amatic+SC:100,200,300,400,500,600,700');

body {
    
    margin-right: -25px;
    margin-left: -25px;
    background-color: #ffffeb;
    overflow-x: hidden;
}

.title {
    
    font-family: 'raleway', sans-serif;
    font-size: 61px;
    text-align: center;
    color: lightseagreen;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 20px;
    letter-spacing: 10px;
    margin-bottom: 34px;
    border-bottom: 1px solid lightseagreen;
    
}

.container-fluid {
    
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    
}


/* -----------------------------------------------NAVBAR ---------------------------------------------------*/

#navbar-primary .navbar-nav { 
    
    background: #fb2e01;
    width: 100%;
    text-align: center;
    margin-top: -8px;
    height: 124px;
    padding-left: 74px;
    margin-bottom: -21px;
    
}

.navbar-nav > li {
    
    display: inline-block;
    float: none;

}

.navbar-nav  a {
    
      padding-left: 30px;
      padding-right: 30px;
      
}

.container-fluid .social-links .soc-link a {
    
    color: #e92826;
    padding-top: 50px;
    
}
.social-icons .soc-link a {
    
    margin-left: 50px;
    
}

.navbar-nav li a {
    
    color: #fffeb3;
    font-family: 'Kavivanar', cursive;
    font-weight:400;
    text-transform: uppercase;
    letter-spacing: 4px;
    
}

.navbar-nav li a:hover {
    
    color: skyblue;
    background-color: lightseagreen;
    
}

#logo-navbar-middle {
    
    height: 117px;
    padding-left: 28px;
    margin-top: -8px;
}

.banner {
    
    padding-top: 0px;
    
}

.navbar {
    
    position: relative;
    min-height: 50px;
    margin-bottom: 20px; 
    margin-right: -31px;
    margin-left: -31px;
    
}

/* -----------------------------------------------BANNER IMAGE ---------------------------------------------------*/


.hero .hero-image {
    
    height: 100vh;
    background-image: url("/assets/images/monkees.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 0px;
    width:100%;
    margin-top: 116px;
    
}

/* -----------------------------------------------THE BAND ---------------------------------------------------*/

#the-band {
    
    padding-top: 100px;
    background: #ffffeb;
    
}

.well  {
    
    min-height: 20px;
    padding: 21px;
    margin-bottom: 20px;
    box-shadow: none;
    background-color: #fffeb3;
    border:none;
    
}

.img-circle {
    
    height: 202px;
    width: 202px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(100%);
    
}

.well .member-description {
    
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    font-family: 'raleway', sans-serif;
    text-align: center;
    
}

.text-description {
    
    font-size:15px;
    text-align: center;
    
}

.member-description {
    
    font-size:15px;
    text-align: center;
    
}

.member-name {
    
    font-family: 'raleway',sans-serif;
    text-align: center;
    
}

/* -----------------------------------------------SHOWS ---------------------------------------------------*/

#shows {
    
    padding-top: 100px;
    
}

th {
    
    font-size: 20px;
    padding-left: 71px;
    
}
.show-list {
    border: 1px solid;
    margin-left: 91px;
    padding-top: 25px;
    padding-top: 25px;
    background-color: skyblue;
}

td {
    font-size: 20px;
    padding: 26px;
    padding-left: 72px;
}
.c1 {
    font-family: 'raleway';
    
}

.c2 {
    
    font-family: 'raleway';
}

.c3 {
    font-family: 'raleway';
    
}

.c4 {
    
    font-family: 'raleway';
    padding-right: 4%;
    padding-left: 9%;
}

.c5 {
    
    font-family: 'raleway';
    padding-left: 9%;
}


/* -----------------------------------------------LISTEN ---------------------------------------------------*/

#listen {
    
    padding-top: 95px;
    
}

.title-listen {
    
    color: #fb2e01;
    font-family: 'kavivanar', sans-serif;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 4px;
    line-height: 1.5;
    
}

.hey-hey {
    
    background-color: #fffeb3;
    width: 100%;
    margin-top: -17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.the-best {
    
    padding-top: 57px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.music-square-title {
    
    font-family: 'kavivanar', sans-serif;
    
}

#audio-listen {
    
    background-color: skyblue;
    padding: 2em;
    margin-top: 43px;
    
}

.music-name {
    
    font-family: 'kavivanar',sans-serif;
    text-align: center;
    margin-top: -14px;
    
}

.music-album {
    
    font-family: 'raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    
}

audio, canvas, progress, video {
    
    display: inline-block;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.head-name {
    
    text-align: center;
    color: #fffeb3;
    font-family: 'kavivanar';
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 4px;
    line-height: 1.5;
    
}

.head-box {
    
    background-color: #fb2e01;
    width: 100%;
    float: right;
    text-align: center;
    margin-bottom: -43px;
    margin-top: -17px;
    
}

/* -----------------------------------------------GALLERY ---------------------------------------------------*/

#my-gallery {
    
    margin-top: 137px;
    
}

.thumbnail {
    
    border: none;
    background-color: #ffffeb;
    
}

.thumbnail {
    
    transition: 1s; 
   
}

.thumbnail a > img {
    
    height: 170px;
    width: 271px;
    filter: grayscale(100%);
  
}

.thumbnail:hover {
    
    transform: scale(1.1);
    
}

#my-gallery {
    
    margin-top: 17px;
    
}

.title-gallery {
    padding-top: 20px;
}

/* -----------------------------------------------CONTACT ---------------------------------------------------*/

#contact-us {
    
    padding-top: 100px;
    
}

.needs-validation {
    
    width: 75%;
    padding-top: 50px;
    margin: auto;
    color: black;
    background-color: skyblue;
    margin-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
    
}

.btn-primary {
    
    background: lightseagreen;
    border: 1px solid transparent;
    display: inline-block;
    outline: 0;
    padding: 2rem 2.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.2em;
    line-height: 1.4rem;
    text-transform: uppercase;
    border-radius: 0px;
    color: black;
    font-family: 'raleway',sans-serif;
    
}

.btn-primary:hover {
    
    background-color: #fffeb3;
    color: black;
    border-color: #fffeb3;
    
}

.form-control {
    
    display: block;
    width: 87%;
    height: 36px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571;
    background-color: #ebe9e5;
    border: 1px solid black;
    border-radius: 0px;
    
}

.booking {
    
    color: #172349;
    text-align: center;
    font-family: 'raleway', sans-serif;
    margin-bottom: 10px;
    font-size: 25px;
    
}

.booking2 {
    
    font-family: 'raleway',sans-serif;
    text-align: center;
    font-size: 17px;
    
}

.col-form-label {
    
    font-family: 'raleway', sans-serif;
    font-size: 15px;
    
}

.form-group {
    
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: -57px;
    
}

/* -----------------------------------------------FOOTER ---------------------------------------------------*/

.copyright {
    
    font-family: 'kavivanar';
    font-size: 19px;
    margin-left: 47px;
    color: #fffeb3;
    
}

.page-footer {
    
    background: #fb2e01;
    height: 107px;
    
}

.footer-newsletter-text {
    
    font-family: 'kavivanar';
    font-weight: 500;
    font-size: 19px;
    color: #fffeb3;
    margin-bottom: 0.5rem;
    
}

.footer-newsletter-form input[type="text"] {
    
    background: #ebe9e5;
    border: 1px solid transparent;
    line-height: 1;
    width: 18rem;
    font-size: 1.4rem;
    font-weight: 400;
    display: inline-block;
    outline: 0;
    padding: 2rem;
    vertical-align: top;
    
}

.footer-newsletter-form button[type="submit"] {
    
    background: lightseagreen;
    border: 1px solid transparent;
    display: inline-block;
    outline: 0;
    padding: 2rem 2.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.2em;
    line-height: 1.4rem;
    text-transform: uppercase;
    font-family: 'raleway',sans-serif;
    
}

.footer-newsletter-form button:hover {
    
    background-color: #fffeb3;
    color: black;
    border-color: #fffeb3;
    
}

/* -----------------------------------------------MEDIA QUERIES ---------------------------------------------------*/

@media(max-width:450px) {
    .show-dates li{
        font-size: 9px;
        max-width: 88%;
    }
}
@media (min-width: 401px) and (max-width:550px) {
    .show-dates li{
        font-size: 12px;
    }
}

@media(min-width:551px) and (max-width:700px) {
    .show-dates li {
        font-size: 14px
    }
}