@import url('https://fonts.googleapis.com/css?family=Kavivanar:500|Raleway:400,500,700|Monoton:|Krona+One:800');

body {
  margin: 0px;
  background-color: #333;
  overflow-x: hidden;
}

.title {
  font-family: 'raleway', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #ebe9e5;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 20px;
  letter-spacing: 7px;
  margin-bottom: 34px;
  text-decoration: none;
  line-height: 1;
  text-shadow: #ed2b2b 3px 2px 0;
  position: relative;
  background: #9AB6B6;
  padding: 20px;
  border: 1px solid #ebe9e5;
}

/* -----------------------------------------------NAVBAR ---------------------------------------------------*/

.nav-btn {
  background: #fafafa;
  border: 1px solid #fafafa;
  color: #333;
  display: inline-block;
  margin-top: 7px;
  text-transform: uppercase;
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 0.2rem;
}

.nav-btn:hover {
  text-decoration: none;
  color: #fafafa;
  background-color: #9AB6B6;
  border: 1px solid #9AB6B6;
}

.navbar .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.navbar-brand {
  padding-left: 26px;
}

.navbar-inverse .navbar-brand {
  color: #ebe9e5;
  font-family: 'Monoton', cursive;
  letter-spacing: 5px;
  font-size: 22px;
  margin-left: 0px;
  margin-top: 5px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #ed2b2b;
}

.navbar {
  border-radius: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.navbar-inverse {
  border: 0;
}

.navbar-toggle {
  float: right;
  padding: 9px 10px;
  margin-top: 12px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: none;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-nav {
  float: right;
  padding-right: 15px;
  padding-top: 3px;
}

.navbar-text {
  margin-bottom: 0px;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-right: -13px;
  margin-left: -33px;
}

.navbar-collapse {
  padding-left: 48px;
  overflow-x: visible;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  color: #ed2b2b;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #fafafa;
  font-family: 'roboto';
  text-transform: uppercase;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ebe9e5;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'raleway';
}

#myNavbar {
  background-color: #ed2b2b;
}

.navbar-header {
  background-color: #ed2b2b;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #ed2b2b;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-right: 0px;
  margin-left: 0px;
}

#logo-navbar-middle {
  height: 71px;
  padding-left: 0px;
  margin-top: -15px;
}

/* -----------------------------------------------BANNER IMAGE ---------------------------------------------------*/

body, html {
  height: 100%;
}

.band-image {
  height: 100%;
  background-image: url(https://raw.githubusercontent.com/luisanegri/themonkees/master/assets/images/monkees.jpg);
  background-repeat: no-repeat;
  margin: 55px 0px;
  width: 100%;
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: 100% 100%;
}

/* -----------------------------------------------THE BAND ---------------------------------------------------*/

#the-band {
  padding-top: 35px;
  background: #333;
}

.member-bio {
  min-height: 20px;
  padding: 21px;
  margin-bottom: 20px;
  box-shadow: none;
  background-color: #ebe9e5;
  border: none;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
}

.img-circle {
  height: 169px;
  width: 168px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: grayscale(100%);
}

.member-description {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  font-family: 'raleway', sans-serif;
  text-align: center;
  color: #333;
}

.text-description {
  font-size: 12px;
  text-align: center;
  color: #333;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  padding-top: 15px;
}

.member-name {
  font-family: 'raleway', sans-serif;
  text-align: center;
  color: #ed2b2b;
  font-size: 18px;
  font-weight: bold;
}

/* -----------------------------------------------SHOWS ---------------------------------------------------*/

#shows {
  padding-top: 35px;
}

.show-panel {
  background: #3E7C7C;
  padding-top: 20px;
  color: white;
  padding-bottom: 20px;
  margin-top: -10px;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
}

.show-row {
  display: flex;
  padding: 5px 0px;
  padding-top: 20px;
}

.col {
  flex: 1;
  padding: 9px;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-align: center;
  line-height: 1.5em;
  font-family: 'raleway', sans-serif;
  font-weight: 500;
}

.col.tix {
  max-width: 150px;
}

.tix-hov {
  color: black;
  text-decoration: none;
  padding-bottom: 3px;
  transition: 0.2s;
  font-weight: bold;
}

.tix-hov:hover {
  font-size: 120%;
  font-weight: bold;
  text-decoration: none;
  color: #fafafa;
}

/* -----------------------------------------------LISTEN ---------------------------------------------------*/

#listen {
  padding-top: 35px;
}

.title-listen {
  color: #ed2b2b;
  font-family: 'Krona One', sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  letter-spacing: 5px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.first-block {
  background-color: #fafafa;
  width: 100%;
  margin-top: -10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px 20px 20px;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
}

.second-block {
  padding-top: 57px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.the-best-audio {
  background-color: #fafafa;
  padding-top: 35px;
  padding-bottom: 20px;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.music-square-title {
  font-family: 'kavivanar', sans-serif;
}

.audio-listen {
  background-color: #333;
  padding: 2em;
  margin-top: 43px;
}

audio, canvas, progress, video {
  display: inline-block;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.music-name {
  font-family: 'kavivanar', sans-serif;
  text-align: center;
  margin-top: -14px;
  color: white;
  font-size: 20px;
}

.music-album {
  font-family: 'raleway', sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: white;
}

.head-name {
  text-align: center;
  color: #ed2b2b;
  font-family: 'Krona One', sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 5px;
}

.head-box {
  text-align: center;
  margin-bottom: -59px;
  margin-top: 0;
}

/* -----------------------------------------------GALLERY ---------------------------------------------------*/

#my-gallery {
  padding-top: 35px;
}

.thumbnail {
  display: block;
  border-radius: 0px;
  border: none;
  background-color: transparent;
  line-height: 1.42857143;
}

.thumbnail {
  transition: 1s;
}

.thumbnail a>img {
  height: 170px;
  width: 271px;
  filter: grayscale(100%);
}

.thumbnail:hover {
  transform: scale(1.1);
}

/* -----------------------------------------------CONTACT ---------------------------------------------------*/

#contact-us {
  padding-top: 35px;
}

.option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

.needs-validation {
  width: 88%;
  padding-top: 50px;
  color: white;
  padding-left: 20px;
  padding-bottom: 65px;
}

.btn-wrapper {
  display: block;
  float: right;
}

.form-btn {
  background: transparent;
  border: 1px solid #fafafa;
  display: inline-block;
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  line-height: 0.4rem;
  text-transform: uppercase;
  border-radius: 0px;
  color: #fafafa;
  font-family: 'raleway', sans-serif;
}

.form-btn:hover {
  text-decoration: none;
  color: #fafafa;
  background: #9AB6B6;
  border: 1px solid #9AB6B6;
}

.input-form {
  width: 88%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571;
  background-color: white;
  border: 1px solid black;
  border-radius: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.booking {
  color: #ebe9e5;
  text-align: center;
  font-family: 'raleway', sans-serif;
  margin-bottom: 10px;
  font-size: 20px;
  margin-top: 0px;
}

.booking2 {
  font-family: 'raleway', sans-serif;
  text-align: center;
  font-size: 16px;
  color: #ebe9e5;
}

.col-form-label {
  font-family: 'raleway', sans-serif;
  font-size: 15px;
}

.form-group {
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: -57px;
}

.page-title {
  padding: 28px 15px 0 15px;
}

/* -----------------------------------------------FOOTER ---------------------------------------------------*/

.follow-social {
  font-size: 17px;
  margin-left: 47px;
  color: #ebe9e5;
  font-family: 'raleway';
  font-weight: 500;
}

.page-footer {
  margin-right: 0px;
  background: #ed2b2b;
  margin-top: 30px;
}

.footer-newsletter-text {
  font-family: 'raleway';
  font-weight: 500;
  font-size: 17px;
  color: #ebe9e5;
  margin-bottom: 0.5rem;
}

.footer-newsletter-form input[type="email"] {
  background: white;
  border: 1px solid transparent;
  line-height: 1;
  width: 15rem;
  font-size: 1.4rem;
  font-weight: 400;
  display: inline-block;
  outline: 0;
  padding: 1.4rem;
  vertical-align: top;
}

.footer-newsletter-form button[type="submit"] {
  background: transparent;
  border: 1px solid #9AB6B6;
  display: inline-block;
  color: #fafafa;
  outline: 0;
  padding: 2rem 2.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  line-height: 0.4rem;
  text-transform: uppercase;
  font-family: 'raleway', sans-serif;
  margin-left: 10px;
}

.footer-newsletter-form button:hover {
  text-decoration: none;
  color: #fafafa;
  background: #9AB6B6;
}

.list-inline {
  list-style: none;
  margin-left: 0px;
  padding-left: 39px;
}

.social-links li a {
  color: #fafafa;
}

.social-links li a:hover {
  color: #9AB6B6;
}

.footer-block {
  padding-bottom: 20px;
  padding-top: 20px;
}

/* -----------------------------------------------MEDIA QUERIES ---------------------------------------------------*/

@media (min-width: 767px) and (max-width: 1024px) {
  .band-image {
    height: 545px;
  }
}

@media (max-width: 767px) {
  .col {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-weight: bold;
  }
  .show-row, .col {
    display: block;
    margin-top: -1px;
  }
  .col.tix {
    max-width: 100%;
  }
  .tix-hov:hover {
    color: #ed2b2b;
    font-size: 120%;
  }
  .band-image {
    height: 300px;
    margin-top: 60px;
  }
  .btn-wrapper {
    display: block;
    margin: 0 auto;
  }
  .img-circle {
    height: 144px;
    width: 145px;
  }
}

@media (max-width: 626px) {
  .footer-newsletter-form>button {
    margin-top: 5px;
  }
}

@media (max-width: 500px) {
  audio {
    width: 200px;
  }
  .audio-player {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width:339px) {
  .navbar-inverse .navbar-brand {
    letter-spacing: 1px;
    font-size: 19px;
  }
  .title {
    font-size: 27px;
  }
  .footer-newsletter-form input[type="email"] {
    width: 14rem;
  }
}